.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  background-color: transparent;
  /* Removed background color */
}

.blockOne,
.blockTwo,
.blockThree,
.blockFour {
  width: 75%;
  max-width: 900px;
  margin: 40px 0;
  padding: 40px;
  color: white;
  text-align: left;
  background-color: transparent;
  /* Transparent background */
  border-bottom: 2px solid #ffffff33;
  /* Subtle bottom border for separation */
}

.title {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.introText,
.subText {
  font-size: 2rem;
  line-height: 1.8;
  color: #ffffff;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
