.aboutContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.centerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full viewport height */
  text-align: center;
}

/* Paragraph sections adjustments */
.paragraphSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50vh;
  margin-bottom: 40px;
  padding-left: 15%;
  padding-right: 15%;
}

.paragraphSection:nth-child(2) {
  justify-content: flex-start;
}

.paragraphSection:nth-child(3) {
  justify-content: flex-end;
}

.paragraphSection:nth-child(4) {
  justify-content: flex-start;
}

.paragraphSection:nth-child(5) {
  justify-content: center;
}

.paragraphSection:nth-child(6) {
  justify-content: flex-start;
}

.paragraphSection:nth-child(7) {
  justify-content: flex-end;
}

.paragraphSection:nth-child(8) {
  justify-content: flex-start;
}

.paragraphSection:nth-child(9) {
  justify-content: center;
}

.additionalText {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #dddddd;
  max-width: 70%;
  /* Reduced max-width to bring text closer */
  margin: 0 auto;
  opacity: 0;
  animation: fadeInText 2s ease-out forwards 1s;
}

.title {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
  animation: slideInFromLeft 1s ease-out forwards;
}

.introText,
.additionalText {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  color: #dddddd;
  max-width: 600px;
  margin: 0;
  opacity: 0;
  animation: fadeInText 2s ease-out forwards 1s;
}

.scrollIndicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 2s infinite;
}

.scrollIndicator svg {
  fill: #ffffff;
  width: 40px;
  height: 40px;
  opacity: 0.75;
}

/* Slide-in animation for the title */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Fade-in animation for text */
@keyframes fadeInText {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Bouncing animation */
@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(-50%) translateY(0);
  }

  40% {
    transform: translateX(-50%) translateY(-10px);
  }

  60% {
    transform: translateX(-50%) translateY(-5px);
  }
}
