.box {
  border: 5px solid var(--color-white);
  max-width: 100%;
  margin: 0;
  padding: 0;
  /* You can adjust this based on how wide you want the box to be */
  max-height: 90vh;
  /* Make it take up most of the vertical space */
  background-color: var(--background-color-primary);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Center the box */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  /* Adjust width to take up most of the screen */
  height: 95%;
  overflow: hidden;
  /* Adjust height to take up most of the screen */
}

.content {
  position: relative;
  /* Ensure content is positioned correctly */
  z-index: 2;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Ensure content is above the sketch */
}

.content::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera: hide scrollbar */
}

@media (max-width: 1200px) {
  .box {
    width: 90vw;
    /* More space on medium screens */
    height: 90vh;
  }
}

@media (max-width: 768px) {
  .box {
    width: 99vw;
    /* Almost full width on small screens */
    height: 99vh;
    border: 2px solid var(--color-white);
  }
}
