.content {
  padding: 15vh 10vw 0;
  /* Add padding at the top, and adjust left/right padding as needed */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  /* Add space between the header and the rest of the content */
}

.title {
  font-size: 2.5vw;
  font-weight: 600;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.divider {
  width: 100%;
  border: 2px solid var(--color-white);
  margin-bottom: 0;
}

.columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -20px;
}

.leftColumn,
.rightColumn {
  flex: 1;
  padding: 0 10px;
}

.rightColumn ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.rightColumn li {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}

.rightColumn li::before {
  content: "↗";
  margin-right: 8px;
  color: var(--text-color-secondary);
  font-size: 1.2vw;
}

.rightColumn a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.25rem;
}

.rightColumn a:hover {
  text-decoration: line-through;
  color: var(--text-color-secondary);

}

.leftColumn {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftColumn a {
  color: var(--text-color-primary);
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
}

.leftColumn a::before {
  content: "↗";
  margin-right: 8px;
  color: var(--text-color-secondary);
  font-size: 1.2vw;
}

.leftColumn a:hover {
  text-decoration: line-through;
  color: var(--text-color-secondary)
}

.label {
  font-size: 1.4vw;
  font-weight: 700;
  letter-spacing: 2px;
  margin-right: 7.5vw;
  /* Ensure the label is close to the links */
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeLink {
  position: absolute;
  top: 2vw;
  left: 2vw;
  padding: 1vw;
  color: var(--text-color-primary);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  z-index: 1000;
  transform: rotate(-90deg);
  letter-spacing: 5px;
}

.homeLink:hover {
  color: var(--text-color-secondary);
  text-decoration: line-through;
}

.links .label {
  margin-top: -25px;
}

.emailContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.introText {
  margin-top: 30px;
  font-size: 1.2rem;
  color: var(--text-color-secondary);
  line-height: 1.25;
  text-align: left;
  width: 60%;
  /* Make sure the text takes up full width */
  word-wrap: break-word;
  font-weight: 600;
  /* Ensure text wraps to the next line */
}

.projectLink {
  display: inline !important;
  /* or inline-block */
  text-decoration: underline !important;
  color: var(--text-color-secondary) !important;
  font-weight: 600;
  font-size: 1.1rem;
}

.projectLink::before {
  content: none !important;
  /* Ensure no unwanted pseudo-elements */
}

.projectLink:hover {
  text-decoration: line-through !important;
}

.socialContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.musicText {
  margin-top: 30px;
  font-size: 1.2rem;
  color: var(--text-color-secondary);
  line-height: 1.25;
  text-align: right;
  width: 60%;
  /* Make sure the text takes up full width */
  word-wrap: break-word;
  font-weight: 600;
  /* Ensure text wraps to the next line */
}


/* Media query for mobile devices */
@media (max-width: 768px) {
  .content {
    padding-top: 10vh;
  }

  .homeLink {
    transform: rotate(0deg);
    padding: 2vh 4vh;
  }

  .columns {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    font-size: 4vh;
  }

  .leftColumn,
  .rightColumn {
    width: 100%;
    margin-bottom: 20px;
  }

  .introText {
    width: 100%;
    font-size: 16px;
  }

  .emailContainer {
    margin-left: 0;
  }

  .musicText {
    width: 100%;
    font-size: 16px;
  }

  .label {
    font-size: 2vh;
  }

  .links a {
    font-size: 16px;
  }

  .leftColumn a::before {
    font-size: 16px;
  }

  .leftColumn a {
    font-size: 16px;
  }

  .links li::before {
    font-size: 16px;
  }

  .emailContainer a {
    font-size: 2vh;
  }

  .rightColumn a {
    font-size: 16px;
  }

}
