.content {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vw;
}

.name {
  font-family: var(--font-secondary);
  font-size: 2.5vw;
  /* Adjusted for better scaling */
  font-weight: 300;
  color: var(--text-color-primary);
  margin-bottom: 0;
}

.description {
  font-size: 1vw;
  /* Adjusted for better consistency */
  color: var(--text-color-secondary);
  margin-bottom: auto;
  margin-top: 0;
}

.loremText {
  font-size: 0.9vw;
  /* Consistent with the description */
  color: var(--text-color-secondary);
  margin-top: auto;
  width: 30%;
  font-weight: 700;
}

.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 3vw;
  /* Adjusted for more balance */
}

.menu {
  list-style: none;
  padding: 4vw;
  /* Balanced padding for responsiveness */
  margin-top: 10vh;
  /* Use vh for vertical spacing */
}

.menu li {
  font-size: 4.5vw;
  /* Adjusted for better scaling */
  margin-bottom: 3.5vh;
  /* Use vh for vertical spacing */
  cursor: pointer;
  color: var(--text-color-primary);
  padding-left: 5vw;
  font-weight: 600;
  transition: color 0.3s ease, transform 0.3s ease;
  /* Smooth transition for color and other effects */
  /* Adjusted for more balance */
}

.menu li:hover {
  color: var(--text-color-secondary);
  /* Slight movement to the right on hover */
  text-decoration: none;
  /* Ensures no underline appears */
}

/* Media Queries for Home Component */
@media (max-width: 1200px) {
  .name {
    font-size: 3vw;
    /* Smaller text on medium screens */
  }

  .menu li {
    font-size: 3vw;
    /* Adjusted for medium screens */
    padding-left: 4vw;
    /* Adjusted padding for medium screens */
  }
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
    padding: 5vw;
  }

  .leftColumn {
    text-align: left;
    width: 100%;
    /* Ensure full width for left column */
  }

  .rightColumn {
    align-items: flex-end;
    /* Align the menu items to the right */
    width: 100%;
    /* Ensure full width for the menu */
    margin-top: 20px;
    /* Add some space between text and menu */
  }

  .menu {
    text-align: right;
    padding: 0;
    margin: 0;
    width: 100%;
    /* Ensure full width for the menu */
  }

  .name {
    font-size: 6vw;
  }

  .description {
    font-size: 3vw;
  }

  .loremText {
    font-size: 3vw;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
  }

  .menu li {
    font-size: 10vw;
    margin-bottom: 15vw;
  }
}
