.content {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vw;
}

.name {
  font-family: var(--font-secondary);
  font-size: 2.5vw;
  /* Adjusted for better scaling */
  font-weight: 300;
  color: var(--text-color-primary);
  margin-bottom: 0;
}

.description {
  font-size: 1vw;
  /* Adjusted for better consistency */
  color: var(--text-color-secondary);
  margin-bottom: auto;
  margin-top: 0;
  font-weight: 600;
}

.loremText {
  font-size: 0.9vw;
  /* Consistent with the description */
  color: var(--text-color-secondary);
  margin-top: auto;
  width: 30%;
  font-weight: 700;
}

.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 10vw;
  /* Adjusted for more balance */
}

.menu {
  list-style: none;
  padding: 0;
  /* Balanced padding for responsiveness */
  margin-top: 1vh;
  margin-bottom: 2vh
    /* Use vh for vertical spacing */
}

.menu li {
  font-size: 4.5vw;
  /* Adjusted for better scaling */
  margin-bottom: 3.5vh;
  /* Use vh for vertical spacing */
  cursor: pointer;
  color: var(--text-color-primary);
  padding-left: 1vw;
  font-weight: 600;
  transition: color 0.3s ease, transform 0.3s ease;
  /* Smooth transition for color and other effects */
  /* Adjusted for more balance */
}

.menu li:hover {
  color: var(--text-color-secondary);
  /* Slight movement to the right on hover */
  text-decoration: none;
  /* Ensures no underline appears */
}

.nowPlaying {
  padding: 1vw;
  margin: 1vw;
}

/* This div will overlay your entire page */
.gradientOverlay {
  position: fixed;
  /* Make sure it stays in place */
  bottom: 0;
  /* Align it to the bottom */
  left: 0;
  width: 100%;
  height: 20vh;
  /* Adjust the height to control how much of the gradient is visible */
  pointer-events: none;
  /* Allow interaction with content below */
  background: linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0) 100%);
  /* Adjust colors to match your design */
  z-index: 10;
  /* Ensure it’s above other content */
}

/* Media Queries for Home Component */
@media (max-width: 1200px) {
  .name {
    font-size: 3vw;
    /* Smaller text on medium screens */
  }

  .menu li {
    font-size: 3vw;
    /* Adjusted for medium screens */
    padding-left: 4vw;
    /* Adjusted padding for medium screens */
  }
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
    padding: 5vw;
    height: 100%;
  }

  .leftColumn {
    text-align: left;
    width: 90%;
    /* Ensure full width for left column */
  }

  .rightColumn {
    align-items: flex-end;
    /* Align the menu items to the right */
    width: 90%;
    /* Ensure full width for the menu */
    margin-top: 20px;
    /* Add some space between text and menu */
  }

  .menu {
    text-align: right;
    padding: 0;
    margin: 0;
    width: 100%;
    /* Ensure full width for the menu */
    margin-bottom: 40px;
    margin-top: 30px;
  }

  .name {
    font-size: 8vw;
  }

  .description {
    font-size: 3vw;
  }

  .loremText {
    font-size: 3.75vw;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 500;
    width: 100%;
  }

  .menu li {
    font-size: 10vw;
    margin-bottom: 20vw;
    padding-right: 0;
  }
}
