.nowPlayingMobileContainer {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.listeningNowWrapper {
  display: flex;
  width: 100px;
  height: 100px;
}

.listeningNowWrapper img {
  width: 70px;
  height: 70px;
  clip-path: circle(50% at 0% 50%);
  position: absolute;
  transition: clip-path 0.5s ease;
}

.expanded img {
  clip-path: circle(50%);
}

.listeningNowWrapper p {
  position: absolute;
  top: -50%;
  left: 0;
  transition: left 0.5s ease;
}

.expanded p {
  left: 2.5%;
}

.listeningNowWrapper span {
  top: -60%;
  position: absolute;
  transform-origin: 0px 60px;
  transform-style: flat;
  font-size: 14px;
  color: var(--text-color-secondary);
}

.loadingSpinner {
  width: 25px;
  height: 25px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top-color: var(--text-color-primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  top: 15%;
  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.trackInfo {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
  font-size: 3.5vw;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-in, transform 0.5s ease;
  pointer-events: none;
}

.expanded .trackInfo {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.trackName {
  color: var(--text-color-primary);
  font-family: var(--font-primary);
}

.artistName {
  color: var(--text-color-secondary);
  font-family: var(--font-primary);
  font-style: italic;
}
