.content {
  display: flex;
  height: 100%;
}

.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* Aligns everything to the bottom */
  padding: 2vw;
}

.title {
  font-family: var(--font-secondary);
  font-size: 2.5vw;
  font-weight: 400;
  color: var(--text-color-primary);
  margin-bottom: 0;
  margin-right: auto;
  margin-left: 2vw;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  border-radius: 15px;
  /* Adjust bottom margin to position the text above the description */
}

.description {
  font-size: 1rem;
  border-radius: 15px;
  color: var(--text-color-secondary);
  /* Ensure there's no extra margin at the bottom */
  padding: 10px;
  margin-left: 2vw;
  background: rgba(0, 0, 0, 0.5);
  width: 40%;

  /* Add some spacing between the text and the bottom of the box */
}

.rightColumn {
  flex: 1;
  margin-top: 4vw;
  margin-bottom: 3vw;
  overflow-y: scroll;
  /* Enables scrolling for the project list */
  scrollbar-width: none;
  /* For Firefox */
}

.rightColumn::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}

.projectList {
  list-style: none;
  overflow-y: auto;
}

.projectItem {
  margin-bottom: 3vw;
  margin-right: auto;
  width: fit-content;
  padding: 15px;
}

.projectItem h2 {
  font-size: 3vw;
  font-weight: 600;
  margin: 0;
  color: var(--text-color-primary);
  transition: color 0.3s ease;
  letter-spacing: 3px;
}

.projectItem p {
  font-size: 1rem;
  color: var(--text-color-secondary);
  margin: 5px 0 0 0;
}

.projectItem .descriptionTechStack {
  max-height: 0;
  /* Start with no height */
  overflow: hidden;
  /* Hide overflowing content */
  transition: max-height 0.6s ease;
  /* Smooth transition for height */
}

.projectItem:hover .descriptionTechStack {
  max-height: 120px;
  /* Adjust this value based on content height */
}

.projectItem:hover h2 {
  color: var(--text-color-secondary);
}

.overview1 {
  font-weight: 300;
}

.projDescription {
  font-style: italic;
  font-weight: 600;
}

.homeLink {
  position: absolute;
  top: 1vw;
  left: 1vw;
  padding: 1vw;
  color: var(--text-color-primary);
  /* Adjust based on your color scheme */
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  z-index: 1000;
  /* Ensure it stays above other elements */
  transform: rotate(-90deg);
  letter-spacing: 5px;
}

.homeLink:hover {
  color: var(--text-color-secondary);
  text-decoration: line-through;
  /* Optional hover effect */
}

.viewProjectButton {
  display: none;
  /* Hide the button by default */
  width: fit-content;
  margin-top: 10px;
  background: none;
  color: var(--text-color-secondary);
  border: 1px solid white;
  font-size: 12px !important;
  text-align: left;
  cursor: pointer;
  font: var(--font-primary);
}

.viewProjectButton:hover {
  background-color: var(--background-color-hover);
}

@media (max-width: 768px) {

  .content {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }

  .leftColumn {
    width: 90%;

  }

  .title {
    font-size: 6vw;
    background: none;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
  }

  .description {
    width: 80%;
    font-size: 3.5vw;
    /* Adjust font size */
    text-align: left;
    background: none;
  }

  .rightColumn {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }

  .projectItem {
    width: 90%;
    text-align: left;
    border-radius: 10px;
    padding: 2vw;
    margin-bottom: 6vw;
  }

  .projectItem h2 {
    font-size: 6vw;
    padding: 0;
    margin: 0;
  }

  .projectItem p {
    font-size: 3.75vw;
    padding: 0;
    margin: 0;
  }

  .projectItem .overview1 {
    font-size: 3vw;
  }

  .homeLink {
    padding: 2vw;
    margin: 3vw;
    transform: rotate(0deg);
    font-weight: 300;
    font-size: 4vw;
    text-decoration: none;
  }

  .viewProjectButton {
    display: block;
    /* Show the button only on mobile screens */
  }

  .descriptionTechStack {
    margin-top: 10px;
  }

  .projectItem {
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
  }

  .projectItem h2,
  .projectItem p {
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
  }
}
