.content {
  display: flex;
  height: 100%;
}

.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2vw;
}

.title {
  font-family: var(--font-secondary);
  font-size: 2.5vw;
  font-weight: 400;
  color: var(--text-color-primary);
  margin-bottom: 0;
  margin-right: auto;
  margin-left: 2vw;
  padding: 10px;
  background: rgba(0, 0, 0, 0.35);
  margin-bottom: 30px;
  border-radius: 15px;
}

.description {
  font-size: 1vw;
  border-radius: 15px;
  color: var(--text-color-secondary);
  padding: 10px;
  margin-left: 2vw;
  background: rgba(0, 0, 0, 0.35);
  width: 40%;
  font-family: var(--font-primary);
}

.rightColumn {
  flex: 1;
  margin-top: 4vw;
  margin-bottom: 3vw;
  overflow-y: scroll;
  scrollbar-width: none;
}

.rightColumn::-webkit-scrollbar {
  display: none;
}

.projectList {
  list-style: none;
  overflow-y: auto;
}

.projectItem {
  margin-bottom: 3vw;
  margin-right: auto;
  width: fit-content;
  padding: 15px;
}

.projectItem h2 {
  font-size: 3vw;
  font-weight: 600;
  margin: 0;
  color: var(--text-color-primary);
  transition: color 0.3s ease;
  letter-spacing: 3px;
}

.projectItem p {
  font-size: 1rem;
  color: var(--text-color-secondary);
  margin: 5px 0 0 0;
}

.projectItem .descriptionTechStack {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.projectItem:hover .descriptionTechStack {
  max-height: 150px;
}

.projectItem:hover h2 {
  color: var(--text-color-secondary);
}

.overview1 {
  font-weight: 300;
}

.projDescription {
  font-style: italic;
  font-weight: 600;
}

.homeLink {
  position: absolute;
  top: 2vw;
  left: 2vw;
  padding: 1vw;
  color: var(--text-color-primary);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  z-index: 1000;
  transform: rotate(-90deg);
  letter-spacing: 5px;
}

.homeLink:hover {
  color: var(--text-color-secondary);
  text-decoration: line-through;
}

.viewProjectButton {
  display: none;
  width: fit-content;
  margin-top: 10px;
  background: none;
  color: var(--text-color-secondary);
  border: 1px solid white;
  font-size: 12px !important;
  text-align: left;
  cursor: pointer;
  font: var(--font-primary);
}

.viewProjectButton:hover {
  background-color: var(--background-color-hover);
}

@media (max-width: 768px) {

  .content {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    position: relative;
  }

  .leftColumn {
    width: 90%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .title {
    font-size: 6vw;
    background: none;
    text-align: left;
    margin-bottom: 0;
    margin-top: 30px;
  }

  .description {
    width: 80%;
    font-size: 3.5vw;
    text-align: left;
    background: none;
  }

  .rightColumn {
    overflow-y: scroll;
    padding: 0;
    margin-top: 0;
    justify-content: flex-start;
  }

  .projectItem {
    width: 90%;
    text-align: left;
    border-radius: 10px;
    padding: 2vw;
    margin-bottom: 6vw;
  }

  .projectItem h2 {
    font-size: 6vw;
    padding: 0;
    margin: 0;
  }

  .projectItem p {
    font-size: 3vw;
    padding: 0;
    margin: 0;
    margin-bottom: 1vw;
  }

  .projectItem .overview1 {
    font-size: 3vw;
  }

  .homeLink {
    position: absolute;
    top: 4vw;
    right: 4vw;
    padding: 2vw;
    color: var(--text-color-primary);
    text-decoration: none;
    font-size: 4vw;
    font-weight: 600;
    z-index: 1000;
    letter-spacing: 5px;
    transform: rotate(0deg);
    text-align: right;
  }

  .viewProjectButton {
    display: block;
  }

  .descriptionTechStack {
    margin-top: 10px;
  }

  .projectItem {
    user-select: none;
  }

  .projectItem h2,
  .projectItem p {
    user-select: none;
  }


  .overview1 {
    margin-bottom: 1vw;
  }
}
